<ion-header translucent>
  <ion-toolbar>
    <ion-title>Nový úkol</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="edit-content">

  <div class="edit-wrapper">
    <div class="edit-card">

      <!-- Název -->
      <ion-item lines="none" class="glass-item">
        <ion-label position="stacked">Název úkolu</ion-label>
        <ion-input
          [(ngModel)]="title"
          placeholder="Např. udělat projekt..."
          maxlength="60"
        ></ion-input>
      </ion-item>

      <!-- Poznámka -->
      <ion-item lines="none" class="glass-item">
        <ion-label position="stacked">Poznámka (nepovinně)</ion-label>
        <ion-textarea
          [(ngModel)]="note"
          placeholder="Detail, poznámka..."
          autoGrow="true"
          maxlength="240"
        ></ion-textarea>
      </ion-item>

      <!-- Datum -->
      <div class="date-block">
        <div class="date-label">Datum (nepovinně)</div>

        <ion-datetime
          presentation="date"
          locale="cs-CZ"
          min="2000-01-01"
          max="2100-12-31"
          [(ngModel)]="date"
        ></ion-datetime>
      </div>

      <!-- Akce -->
      <div class="actions">
        <ion-button color="danger" expand="block" (click)="cancel()">
          ZRUŠIT
        </ion-button>

        <ion-button expand="block" class="save-btn" (click)="save()">
          ULOŽIT
        </ion-button>
      </div>

    </div>
  </div>

</ion-content>
