:root {
  --ion-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;

  --ion-color-primary: #4f46e5;
  --ion-color-primary-rgb: 79, 70, 229;
  --ion-color-primary-contrast: #ffffff;

  --ion-color-tertiary: #06b6d4;
  --ion-color-tertiary-rgb: 6, 182, 212;
  --ion-color-tertiary-contrast: #ffffff;

  --ion-background-color: #0b0f19;
  --ion-text-color: #e5e7eb;

  --app-card: rgba(255, 255, 255, 0.06);
  --app-border: rgba(255, 255, 255, 0.10);
}
