<ion-header>
  <ion-toolbar>
    <ion-title class="app-title">Motivační citát</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="wrap app-card">

    <!-- Načítání -->
    <ion-spinner *ngIf="loading" class="center"></ion-spinner>

    <!-- Chyba -->
    <div *ngIf="!loading && error" class="error">
      {{ error }}
    </div>

    <!-- Citát -->
    <div *ngIf="!loading && !error && quote" class="quote">
      “{{ quote }}”
    </div>

    <!-- Pokud není citát -->
    <div *ngIf="!loading && !error && !quote" class="sub">
      Zatím nebyl načten žádný citát. Klikni na tlačítko níže.
    </div>

    <ion-button expand="block" class="ion-margin-top" (click)="loadQuote()">
      Načíst nový citát
    </ion-button>

  </div>

  <!-- FAB zpět na Home -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="goHome()">
      <ion-icon name="home-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
