<ion-header>
  <ion-toolbar>
    <ion-title>Motivační citát</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ng-container *ngIf="loading; else contentTpl">
    <ion-spinner class="center"></ion-spinner>
  </ng-container>

  <ng-template #contentTpl>
    <div *ngIf="error; else quoteTpl" class="error">
      {{ error }}
    </div>

    <ng-template #quoteTpl>
      <p class="quote">"{{ quote }}"</p>
    </ng-template>
  </ng-template>

  <ion-button expand="block" (click)="loadQuote()">
    Načíst nový citát
  </ion-button>

  <!-- FAB návrat zpět na úkoly -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="goHome()">
      <ion-icon name="home-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
