<ion-header>
  <ion-toolbar class="topbar">
    <ion-title>Moje úkoly</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">Odhlásit</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="searchbar">
    <ion-searchbar
      class="search"
      placeholder="Hledat úkoly..."
      [(ngModel)]="searchText"
      (ionInput)="onSearch($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Statistiky -->
  <div class="progress-wrapper" *ngIf="totalTasks > 0">
    <div class="progress-text">
      <span>Splněno: {{ completedTasks }} / {{ totalTasks }}</span>
      <span>{{ completionPercent }} %</span>
    </div>

    <ion-progress-bar [value]="completionPercent / 100"></ion-progress-bar>
  </div>

  <ng-container *ngIf="!loading; else loadingTpl">
    <ng-container *ngIf="filteredSortedTasks.length > 0; else emptyTpl">
      <ion-list>

        <ion-item *ngFor="let task of filteredSortedTasks" [class.task-done]="task.done">

          <!-- CHECKBOX pouze přepíná -->
          <ion-checkbox
            slot="start"
            [checked]="task.done"
            (click)="$event.stopPropagation()"
            (ionChange)="toggleDone(task)">
          </ion-checkbox>

          <!-- TEXT -->
          <ion-label>
            <h2 class="task-title">{{ task.title }}</h2>
            <p *ngIf="task.note">{{ task.note }}</p>
            <p *ngIf="task.date">{{ task.date | date:'d.M.yyyy' }}</p>
          </ion-label>

          <!-- EDIT -->
          <ion-button fill="clear" slot="end" (click)="editTask(task)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>

          <!-- DELETE (VIDITELNÝ KOŠ) -->
          <ion-button fill="clear" color="danger" slot="end" (click)="confirmDelete(task)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>

        </ion-item>

      </ion-list>
    </ng-container>
  </ng-container>

  <ng-template #loadingTpl>
    <ion-spinner class="center"></ion-spinner>
  </ng-template>

  <ng-template #emptyTpl>
    <div class="empty">Zatím nemáš žádné úkoly.</div>
  </ng-template>

  <!-- FAB: + uprostřed dole -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="newTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- FAB: kalendář vpravo dole -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="goToCalendar()">
      <ion-icon name="calendar-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- FAB: motivace vlevo dole -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button style="--background: #ffcc00;" (click)="goToMotivation()">
      <ion-icon name="bulb-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
